<html>
    <head>
        <title>fb share</title>
          <meta property="og:url"           content="https://ecommreceonline.000webhostapp.com/fbshare" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Your Website Title" />
<meta property="og:description"   content="Your description" />
<meta property="og:image"         content="https://pbs.twimg.com/profile_images/867383513263353856/RG2nkBX8_400x400.jpg" />
    </head>
    <body>
        
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://ecommreceonline.000webhostapp.com/fbshare/.php&display=popup"> share this </a>
    </body>
</html>